.cart{
  position: sticky;
  background: rgb(120,120,120);
  color: white;
  top: 0px;
  right: 0px;
  width: 25%;
  height: 100vh;
  float: right;
  padding: 0rem 1rem;
}

.title {
  font-weight: 800;
  font-size: 1.4rem;
  padding-top: 1rem;
  margin-bottom: 10px;
}

.itm {
  margin-left: 1rem;
  display: flex;
}

.qty {
  margin-left: 1rem;
  margin-right: 1rem;
}

.subtotal,.total-amt {
  margin-right: 2rem;
    margin-left: auto;
}

.total {
  display: flex;
  align-items: flex-end;
}

.checkout-btn{
  border-radius: 8px;
  background-color: white;
  color: rgb(20,20,60);
  font-size: 1.2rem;
  margin: 20px 2rem;
  padding: 10px 10%;
  float: right;
}