.item {
  display: flex;
  flex-direction: column;
  width: 18rem;
  margin: 0rem 0rem 2rem 0rem;
}

input {
  width: 2rem;
  text-align: center;
}

img {
  width: 18rem;
  height: auto;
  border-radius: 10px;

}

.name-and-price {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}

.item-name{
  font-weight: 700;
}

.btns {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2px;
}

.buy-button {
  background: rgb(60,140,60);
    color: white;
    font-size: 1.0rem;
    width: 6rem;
    border-radius: 9px;
    border: 1px solid gray;
    height: auto;
    margin-right: 0;
    margin-left: auto;
}
